.stickyContainer{
    margin-top: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.stickyForm{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.stickyOptions{
    margin-top: 10px;
}

.edit{
    margin-top: 10px;
    display: none;
}